@import url("https://fonts.googleapis.com/css?family=Roboto");

$boxSize: 100px;
$boxRadius: 8px;

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: slateblue;
}

// Grid
#grid {
  display: inline-grid;
  background: salmon;
  grid-template-columns: repeat(4, minmax($boxSize, $boxSize));
  grid-auto-rows: minmax($boxSize, $boxSize);
  grid-gap: 10px;
  padding: 10px;
  border-radius: $boxRadius;
  position: relative;
  -webkit-perspective:1000;
    perspective:1000;
}

.grid-box {
  display: flex;
  background: orange;
  border-radius: $boxRadius;
  justify-content: center;
  align-items: center;
  
  width:100%;
    height:100%;
    position:relative;
    float:left;    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#game-container {
  visibility: hidden;
}

.grid-box:hover {
  
}

.show {
  transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.grid-box div {
  width:100%;
    height:100%;
    position:absolute;
    border-radius: $boxRadius;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-image: url('/assets/img/blockchain.jpg');
  background-size: cover;
}

.back {
  -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
}