@import url("https://fonts.googleapis.com/css?family=Roboto");

$boxSize: 100px;
$boxRadius: 8px;
$gridBoxColor: rgba(7, 117, 206, 0.1);
$checkedColor: #ffa500;
$gridBgColor: rgba(250, 128, 114, 0);
$textColor: #faebd7;
$modalTextColor: #282828;

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: $textColor;
}

.container-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(53, 163, 236, 0.158), rgba(131, 24, 24, 0.5)), url(../../img/Blockchain-Background.jpg);
}

h1.title {
  color: $textColor;
}

.modal-card p {
  color: $modalTextColor;
}

// Grid
#grid {
  display: inline-grid;
  background: $gridBgColor;
  grid-template-columns: repeat(4, minmax($boxSize, $boxSize));
  grid-auto-rows: minmax($boxSize, $boxSize);
  grid-gap: 10px;
  padding: 10px;
  border-radius: $boxRadius;
  position: relative;
  -webkit-perspective:1000;
    perspective:1000;
}

.grid-box {
  display: flex;
  background: $gridBoxColor;
  border-radius: $boxRadius;
  justify-content: center;
  align-items: center;
  
  width:100%;
  height:100%;
  position:relative;
  float:left;    
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#game-container {
  visibility: hidden;
}

.show {
  transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.grid-box div {
  width:100%;
    height:100%;
    position:absolute;
    border-radius: $boxRadius;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-image: url('../../img/blockchain.jpg');
  background-size: cover;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
}

// Star rating
.checked {
  color: $checkedColor;
}

.stars-rating {
  margin-bottom: 10px;
}