@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #faebd7; }

.container-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(53, 163, 236, 0.158), rgba(131, 24, 24, 0.5)), url(../../img/Blockchain-Background.jpg); }

h1.title {
  color: #faebd7; }
  @media (max-width: 768px) {
    h1.title {
      font-size: 1.2rem; } }

.modal-card p {
  color: #282828; }

#timer {
  text-align: left; }

#grid {
  display: inline-grid;
  background: rgba(250, 128, 114, 0);
  grid-template-columns: repeat(4, minmax(100px, 100px));
  grid-auto-rows: minmax(100px, 100px);
  grid-gap: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000; }
  @media (max-width: 768px) {
    #grid {
      grid-template-columns: repeat(4, minmax(80px, 80px));
      grid-auto-rows: minmax(80px, 80px); } }
  @media (max-width: 480px) {
    #grid {
      grid-template-columns: repeat(4, minmax(60px, 60px));
      grid-auto-rows: minmax(60px, 60px); } }

.grid-box {
  display: flex;
  background: rgba(7, 117, 206, 0.1);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#game-container {
  visibility: hidden; }

.show {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.grid-box div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.front {
  z-index: 2;
  background-image: url("../../img/blockchain.jpg");
  background-size: cover; }

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.checked {
  color: #ffa500; }

.stars-rating {
  margin-bottom: 10px; }
