@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#grid {
  display: inline-grid;
  background: salmon;
  grid-template-columns: repeat(4, minmax(100px, 100px));
  grid-auto-rows: minmax(100px, 100px);
  grid-gap: 10px;
  padding: 10px;
  border-radius: 8px; }

.grid-box {
  display: flex;
  background: orange;
  border-radius: 8px;
  justify-content: center;
  align-items: center; }
