@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

.container-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: slateblue; }

#grid {
  display: inline-grid;
  background: salmon;
  grid-template-columns: repeat(4, minmax(100px, 100px));
  grid-auto-rows: minmax(100px, 100px);
  grid-gap: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000; }

.grid-box {
  display: flex;
  background: orange;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#game-container {
  visibility: hidden; }

.show {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); }

.grid-box div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.front {
  z-index: 2;
  background-image: url("/assets/img/blockchain.jpg");
  background-size: cover; }

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.checked {
  color: orange; }
